<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Detalles del Usuario</title>
</head>
<body>
  <%- include('header') %>
  <header>
    <h1>Detalles del Usuario</h1>
  </header>
  <main>
    <div class="container mt-4 formulario-fondo">
        <div>
            <h2>Datos del Usuario</h2>
            <p><strong>Nombre y Apellidos:</strong> <%= usuario.nombre %> <%= usuario.apellidos %></p>
            <p><strong>Nombre de Usuario:</strong> <%= usuario.username %></p>
            <p><strong>Email:</strong> <%= usuario.email %></p>
            <p><strong>Teléfono:</strong> <%= usuario.telefono %></p>
            <button onclick="window.location.href = '/editar'" class="btn btn-primary">Editar Datos</button>
          </div>
      
          <div class="mt-4">
            <h2>Reservas</h2>
            <% if (reservas && reservas.length > 0) { %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Suite</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                  </tr>
                </thead>
                <tbody>
                  <% reservas.forEach((reserva) => { %>
                    <tr>
                      <td><%= reserva.suite %></td>
                      <td><%= reserva.fecha_inicio %></td>
                      <td><%= reserva.fecha_fin %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            <% } else { %>
              <p>Sin reservas.</p>
            <% } %>
          </div>
    </div>
    
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>